@import "./style/abstracts/_all.scss";

$font-size-body: 16px;
$font-size-h1: 34px;
$font-size-h1-small: 18px;
$font-size-table-header: 15px;
$font-size-table-data: 16px;
$font-size-checkbox: 20px;

$height-checkbox: 22px;
$width-checkbox: 22px;

$heading-logo-width: 100px;

$margin-top-h2: 22px;
$margin-bottom-h2: 2px;
$margin-top-paragraph: 3px;
$margin-bottom-paragraph: 12px;

$margin-top-checkbox-container: 10px;
$margin-bottom-checkbox-container: 10px;

$vertical-padding-table-header: 2px;
$horizontal-padding-table-header: 4px;
$vertical-padding-table-data: 4px;
$horizontal-padding-table-data: 4px;

$scaling-for-signed-documents: 1.108;

html,
body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: Carlito, sans-serif;
    color: #000;
    font-size: $font-size-body;
    line-height: 1.25em;
    font-weight: normal;
    font-style: normal;
}
.page {
    margin: 1cm auto;
    background: #fff;
    box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
    width: 21cm;
    min-height: 29.7cm;
    padding-left: 1.2cm;
    padding-top: 0;
    padding-right: 1.2cm;
    padding-bottom: 0.75cm;
}
@page {
    size: A4 portrait;
    margin-top: 0.75cm;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

@media print {
    html,
    body {
        background-color: #fff;
    }
    .page {
        width: initial !important;
        min-height: initial !important;
        margin: 0 !important;
        border: initial !important;
        border-radius: initial !important;
        background: initial !important;
        box-shadow: initial !important;
        page-break-after: always;
    }
}

* {
    @include box-sizing(border-box);
}

.page {
    div.page-break {
        page-break-after: always;
    }

    section {
        page-break-inside: avoid;
    }

    .heading-logo {
        width: $heading-logo-width;
        float: right;
    }

    h1 {
        font-size: $font-size-h1;
        font-weight: normal;
        line-height: 0.9em;
        margin-top: 0;
        margin-bottom: 0.4em;
        small {
            display: block;
            font-size: $font-size-h1-small;
            line-height: 1em;
        }
    }
    h2 {
        font-size: 1.2em;
        font-weight: normal;
        line-height: 1em;
        margin-top: $margin-top-h2;
        margin-bottom: $margin-bottom-h2;
        & + p {
            margin-top: 0;
        }
    }

    p {
        margin-top: $margin-top-paragraph;
        margin-bottom: $margin-bottom-paragraph;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        thead {
            tr {
                background-color: #ededed;
                border: 1px solid #000;
                th {
                    text-align: left;
                    font-size: $font-size-table-header;
                    padding: $vertical-padding-table-header $horizontal-padding-table-header;
                }
            }
        }
        tbody {
            tr {
                border: 1px solid #000;
                td {
                    padding: $vertical-padding-table-data $horizontal-padding-table-data;
                    font-size: $font-size-table-data;
                }
            }
        }
    }

    table + table thead tr {
        border-top: none;
    }

    table thead th.fixed-width-350,
    table thead td.fixed-width-350 {
        width: 350px;
    }

    table thead th.fixed-width-130,
    table tbody td.fixed-width-130 {
        width: 130px;
    }

    .whitespace-nowrap {
        white-space: nowrap;
    }

    .whitespace-pre-wrap {
        white-space: pre-wrap;
    }

    .text-right {
        text-align: right;
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        margin-top: $margin-top-checkbox-container;
        &:not(:last-of-type) {
            margin-bottom: $margin-bottom-checkbox-container;
        }
    }

    .checkbox {
        border: 1px solid black;
        background-color: #fff;
        height: calc($height-checkbox * $scaling-for-signed-documents);
        width: calc($width-checkbox * $scaling-for-signed-documents);
        display: inline-block;
        vertical-align: bottom;
        margin-right: 8px;
        text-align: center;
        font-size: calc($font-size-checkbox * $scaling-for-signed-documents);
        line-height: 1.2em;
        flex: none;
    }
}

// For signed documents
.page.signed-document {
    padding-top: 0.75cm;
    padding-bottom: 0.75cm;
    padding-left: 0.2cm;
    padding-right: 0.2cm;
    font-size: calc($font-size-body * $scaling-for-signed-documents);
    div.content-container {
        .heading-logo {
            width: calc($heading-logo-width * $scaling-for-signed-documents);
            float: right;
        }
        h1 {
            font-size: calc($font-size-h1 * $scaling-for-signed-documents);
            small {
                display: block;
                font-size: calc($font-size-h1-small * $scaling-for-signed-documents);
            }
        }
        h2 {
            font-size: 1.5em;
            font-weight: normal;
            margin-top: calc($margin-top-h2 * $scaling-for-signed-documents);
            margin-bottom: calc($margin-bottom-h2 * $scaling-for-signed-documents);
            & + p {
                margin-top: 0;
            }
        }

        p {
            margin-top: calc($margin-top-paragraph * $scaling-for-signed-documents);
            margin-bottom: calc($margin-bottom-paragraph * $scaling-for-signed-documents);
        }
        table {
            thead tr th {
                font-size: calc($font-size-table-header * $scaling-for-signed-documents);
                padding: calc($vertical-padding-table-header * $scaling-for-signed-documents)
                    calc($horizontal-padding-table-header * $scaling-for-signed-documents);
            }
            tbody tr td {
                font-size: calc($font-size-table-data * $scaling-for-signed-documents);
                padding: calc($vertical-padding-table-data * $scaling-for-signed-documents)
                    calc($horizontal-padding-table-data * $scaling-for-signed-documents);
            }
        }
        .checkbox-container {
            margin-top: calc($margin-top-checkbox-container * $scaling-for-signed-documents);
            &:not(:last-of-type) {
                margin-bottom: calc($margin-bottom-checkbox-container * $scaling-for-signed-documents);
            }
        }
    }
}
@media print {
    .page.signed-document {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}
